/* line 9, ../sass/styles.scss */
html {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', 'Lato', 'Verdana', sans-serif;
  background-image: url(../images/background-teal.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* line 18, ../sass/styles.scss */
html, body, ul, li, ol, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 24, ../sass/styles.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 30, ../sass/styles.scss */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* line 36, ../sass/styles.scss */
.restrict-width {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

/* line 45, ../sass/styles.scss */
.piczag-logo {
  display: block;
  width: 82%;
  margin: -31px auto 0;
}

/* line 50, ../sass/styles.scss */
.iphone {
  width: 200px;
  height: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 54, ../sass/styles.scss */
.iphone > img {
  height: auto;
  width: 100%;
}
/* line 58, ../sass/styles.scss */
.iphone .big-screen {
  width: 85.2%;
  height: 71.3%;
  top: 14.7%;
  left: 8.5%;
}
/* line 64, ../sass/styles.scss */
.iphone .screen {
  top: 14.7%;
  left: 8.5%;
  width: 85%;
  height: 71.5%;
}
/* line 70, ../sass/styles.scss */
.iphone .screen, .iphone .big-screen {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  background: black;
}
/* line 75, ../sass/styles.scss */
.iphone .screen img, .iphone .big-screen img {
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 83, ../sass/styles.scss */
.first-slide {
  height: 100%;
  width: 100%;
}
/* line 86, ../sass/styles.scss */
.first-slide .iphone {
  position: absolute;
  right: 3%;
  height: auto;
  width: 35%;
  max-width: 270px;
  top: 50%;
  margin-top: -261.5px;
}
/* line 94, ../sass/styles.scss */
.first-slide .iphone > img {
  width: 100%;
  height: auto;
}
/* line 98, ../sass/styles.scss */
.first-slide .iphone .zag-icon {
  width: auto;
  position: absolute;
  z-index: 3;
  bottom: -23px;
  right: -21%;
}
/* line 105, ../sass/styles.scss */
.first-slide .iphone .play-button {
  position: absolute;
  top: 140px;
  left: 0;
  width: 90%;
  margin: 0 2% 0 8%;
  z-index: 3;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
/* line 121, ../sass/styles.scss */
.first-slide .iphone .play-button img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
/* line 127, ../sass/styles.scss */
.first-slide .iphone .play-button:hover {
  filter: alpha(opacity=100) !important;
  opacity: 1!important;
}
/* line 133, ../sass/styles.scss */
.first-slide .restrict-width {
  display: table;
}
/* line 136, ../sass/styles.scss */
.first-slide h2 {
  color: white;
  margin: 0;
  padding: 0 0 0.5em;
}
/* line 140, ../sass/styles.scss */
.first-slide h2.yellow {
  color: #ffff33;
  margin: 1em auto 0.5em;
  padding: 0;
}
/* line 146, ../sass/styles.scss */
.first-slide .download-link {
  margin-top: 3em;
}
/* line 149, ../sass/styles.scss */
.first-slide .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-right: 38%;
}

/* line 159, ../sass/styles.scss */
.social-icons {
  text-align: center;
  margin-bottom: 2em;
}
/* line 162, ../sass/styles.scss */
.social-icons > a {
  display: inline-block;
  width: 3em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 166, ../sass/styles.scss */
.social-icons > a img {
  width: 100%;
}
/* line 169, ../sass/styles.scss */
.social-icons > a:hover {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

/* line 177, ../sass/styles.scss */
.content {
  height: 100%;
}
/* line 179, ../sass/styles.scss */
.content h1 {
  line-height: 1em;
  margin-top: 0;
}
/* line 183, ../sass/styles.scss */
.content p {
  margin: 1em auto;
}

/* line 190, ../sass/styles.scss */
#lr-widget {
  width: 100%;
  margin: 0 auto 6em;
  position: relative;
}
/* line 194, ../sass/styles.scss */
#lr-widget .LR-content {
  max-width: 100% !important;
}
/* line 197, ../sass/styles.scss */
#lr-widget .LR-box-wrapper {
  width: 90% !important;
  margin: 0 auto !important;
}
/* line 201, ../sass/styles.scss */
#lr-widget input[type="email"].LR-sign-up-input {
  width: 75% !important;
}
/* line 204, ../sass/styles.scss */
#lr-widget input[type="submit"].LR-sign-up-submit {
  position: absolute;
}

@media (min-width: 855px) {
  /* line 211, ../sass/styles.scss */
  .piczag-logo {
    margin: -30px auto -36px;
  }
}
@media (max-width: 608px) {
  /* line 217, ../sass/styles.scss */
  html {
    height: auto;
    width: auto;
  }

  /* line 221, ../sass/styles.scss */
  .piczag-logo {
    width: 95%;
  }

  /* line 225, ../sass/styles.scss */
  .first-slide .content {
    display: block;
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  /* line 231, ../sass/styles.scss */
  .first-slide .iphone {
    position: relative;
    margin: 2em auto;
    width: 80%;
  }
  /* line 236, ../sass/styles.scss */
  .first-slide > .restrict-width {
    padding-bottom: 17em;
    padding-top: 3em;
  }
  /* line 240, ../sass/styles.scss */
  .first-slide h2 {
    padding: 1em 0 0;
  }
  /* line 242, ../sass/styles.scss */
  .first-slide h2.yellow {
    position: absolute;
    bottom: 4em;
    width: 90%;
  }

  /* line 250, ../sass/styles.scss */
  .social-icons {
    position: absolute;
    bottom: 0;
    width: 90%;
  }

  /* line 255, ../sass/styles.scss */
  #lr-widget {
    margin: 0 auto 5em;
    position: absolute;
    bottom: 11em;
    width: 90%;
  }
}
@media (max-width: 480px) {
  /* line 264, ../sass/styles.scss */
  .content {
    top: 25px;
    margin-right: 0;
    right: 25px;
    margin-top: 0;
    min-width: 150px;
  }
  /* line 270, ../sass/styles.scss */
  .content p {
    font-size: 18px;
    margin: 0.5em auto;
  }

  /* line 277, ../sass/styles.scss */
  #lr-widget input[type="email"].LR-sign-up-input {
    width: 80% !important;
    padding: 8px !important;
    font-size: 13px;
  }
  /* line 282, ../sass/styles.scss */
  #lr-widget input[type="submit"].LR-sign-up-submit {
    font-size: 13px;
    min-width: 40px;
    padding: 8px 1px !important;
  }
}
