/* line 9, ../sass/styles.scss */
html {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', 'Lato', 'Verdana', sans-serif;
  background-image: url(../images/background-teal.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* line 18, ../sass/styles.scss */
html, body, ul, li, ol, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 24, ../sass/styles.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 30, ../sass/styles.scss */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* line 36, ../sass/styles.scss */
.restrict-width {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

/* line 45, ../sass/styles.scss */
.piczag-logo {
  margin-bottom: -35px;
}

/* line 48, ../sass/styles.scss */
.iphone {
  width: 200px;
  height: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 52, ../sass/styles.scss */
.iphone > img {
  height: auto;
  width: 100%;
}
/* line 56, ../sass/styles.scss */
.iphone .big-screen {
  width: 85.2%;
  height: 71.3%;
  top: 14.7%;
  left: 8.5%;
}
/* line 62, ../sass/styles.scss */
.iphone .screen {
  top: 14.7%;
  left: 8.5%;
  width: 85%;
  height: 71.5%;
}
/* line 68, ../sass/styles.scss */
.iphone .screen, .iphone .big-screen {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  background: black;
}
/* line 73, ../sass/styles.scss */
.iphone .screen img, .iphone .big-screen img {
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 81, ../sass/styles.scss */
.first-slide {
  height: 100%;
  width: 100%;
}
/* line 84, ../sass/styles.scss */
.first-slide .iphone {
  position: absolute;
  right: 3%;
  height: auto;
  width: 35%;
  max-width: 270px;
  top: 50%;
  margin-top: -261.5px;
}
/* line 92, ../sass/styles.scss */
.first-slide .iphone > img {
  width: 100%;
  height: auto;
}
/* line 96, ../sass/styles.scss */
.first-slide .iphone .zag-icon {
  width: auto;
  position: absolute;
  z-index: 3;
  bottom: -23px;
  right: -21%;
}
/* line 103, ../sass/styles.scss */
.first-slide .iphone .play-button {
  position: absolute;
  top: 140px;
  left: 0;
  width: 90%;
  margin: 0 2% 0 8%;
  z-index: 3;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
/* line 119, ../sass/styles.scss */
.first-slide .iphone .play-button img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
/* line 125, ../sass/styles.scss */
.first-slide .iphone .play-button:hover {
  filter: alpha(opacity=100) !important;
  opacity: 1!important;
}
/* line 131, ../sass/styles.scss */
.first-slide .restrict-width {
  display: table;
}
/* line 134, ../sass/styles.scss */
.first-slide h2 {
  color: white;
  margin: 0;
  padding: 0 0 0.5em;
}
/* line 138, ../sass/styles.scss */
.first-slide h2.yellow {
  color: #ffff33;
  margin: 1em auto 0.5em;
  padding: 0;
}
/* line 144, ../sass/styles.scss */
.first-slide .download-link {
  margin-top: 3em;
}
/* line 147, ../sass/styles.scss */
.first-slide .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-right: 38%;
}

/* line 157, ../sass/styles.scss */
.social-icons {
  text-align: center;
  margin-bottom: 2em;
}
/* line 160, ../sass/styles.scss */
.social-icons > a {
  display: inline-block;
  width: 3em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 164, ../sass/styles.scss */
.social-icons > a img {
  width: 100%;
}
/* line 167, ../sass/styles.scss */
.social-icons > a:hover {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

/* line 174, ../sass/styles.scss */
.content {
  height: 100%;
}
/* line 176, ../sass/styles.scss */
.content h1 {
  line-height: 1em;
  margin-top: 0;
}
/* line 180, ../sass/styles.scss */
.content p {
  margin: 1em auto;
}

/* line 187, ../sass/styles.scss */
#lr-widget {
  width: 100%;
  margin: 0 auto 6em;
  position: relative;
}
/* line 191, ../sass/styles.scss */
#lr-widget .LR-content {
  max-width: 100% !important;
}
/* line 194, ../sass/styles.scss */
#lr-widget .LR-box-wrapper {
  width: 90% !important;
  margin: 0 auto !important;
}
/* line 198, ../sass/styles.scss */
#lr-widget input[type="email"].LR-sign-up-input {
  width: 75% !important;
}
/* line 201, ../sass/styles.scss */
#lr-widget input[type="submit"].LR-sign-up-submit {
  position: absolute;
}

@media (max-width: 480px) {
  /* line 208, ../sass/styles.scss */
  .content {
    top: 25px;
    margin-right: 0;
    right: 25px;
    margin-top: 0;
    min-width: 150px;
  }
  /* line 214, ../sass/styles.scss */
  .content p {
    font-size: 18px;
    margin: 0.5em auto;
  }

  /* line 220, ../sass/styles.scss */
  #lr-widget {
    margin: 0 auto 2.5em;
  }
  /* line 222, ../sass/styles.scss */
  #lr-widget input[type="email"].LR-sign-up-input {
    width: 65% !important;
    padding: 8px !important;
    font-size: 13px;
  }
  /* line 227, ../sass/styles.scss */
  #lr-widget input[type="submit"].LR-sign-up-submit {
    font-size: 13px;
    min-width: 40px;
    padding: 8px 1px !important;
  }
}
